* {
  margin: 0
}

.app {
  background-color: #fafafa;
}

.app_header {
  background-color: white;
  border-bottom: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* maintains aspect ratio of logo */
  object-fit: contain;
}

.app_headerImage {
  object-fit: contain;
}

.app_posts {
  padding: 20px;
}
.app_signup {
  display: flex;
  flex-direction: column;
}